
 <app-super-admin-login></app-super-admin-login>
 <router-outlet></router-outlet>
  <!-- <app-admin-dashboard></app-admin-dashboard>  -->
 <!-- <app-user-navbar></app-user-navbar>     -->
  <app-login></app-login>  
 
 
 <!-- <app-userSignup></app-userSignup> -->
 <router-outlet></router-outlet>
 <!-- <nav> -->
     <!-- <a routerLink="/profile">profile</a> -->
 <!-- </nav> -->
   <!-- <app-user-dashboard></app-user-dashboard> -->
   <!-- <app-company-details></app-company-details>  -->
   <!-- <app-bike-details></app-bike-details>    -->
  <!-- <app-user-profile></app-user-profile>    -->
   <!-- <app-user-profile-edit></app-user-profile-edit>   -->
   <!-- <app-user-bookings></app-user-bookings> -->
 
 
 <!-- <admin-profile></app-admin-profile>  -->
 
  
 
 